<h1><%= @player_1.name %> vs. <%= @player_2.name %></h1>

<h2><%= @player_1.name %> has <%= @player_1.hit_points %> Hit Points </h2>
<h2><%= @player_2.name %> has <%= @player_2.hit_points %> Hit Points </h2>

<a href="/attack">Attack (P1 > P2)</a>

<h1></h1>