<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h2><%= @game.player_1.name %> has <%= @game.player_1.hit_points %> Hit Points </h2>
<h2><%= @game.player_2.name %> has <%= @game.player_2.hit_points %> Hit Points </h2>

<%= @game.current_turn.name %>'s turn. <a href="/attack">Attack </a>



